<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">Travelling Stories</a>
    </div>

    <div class="collapse navbar-collapse" [ngClass]="{'in' : isCollapsed}">
      <ul class="nav navbar-nav">
        <li><a href="#" *ngIf="authService.isAuthenticated()">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/users" *ngIf="authService.isAdminAuthenticated()">Users</a></li>
        <ng-template [ngIf]="authService.isRegularUserAuthenticated()">
          <li><a href="#">My Stories</a></li>
          <li><a href="#">Favorites</a></li>
        </ng-template>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li routerLinkActive="active"><a routerLink="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li routerLinkActive="active"><a routerLink="/signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ng-template>
        <ng-template [ngIf]="authService.isAuthenticated()">
          <li><a href="#">Account</a></li>
          <li><a href="#">Logout</a></li>
        </ng-template>
      </ul>
    </div>

  </div>
</nav>
