.header {
  min-height: 64px;
  padding: 8px 24px 0;
  display: flex;
}

.header .btn.btn-primary {
  margin-right: 20px;
  margin-bottom: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-form-field {
  width: 100%;
  font-size: 14px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-column-view,
.mat-column-edit,
.mat-column-delete {
  text-align: center;
  max-width: 100px;
}

.glyphicon {
  font-size: 20px;
  color: black;
}

.mat-row,
.mat-header-row {
  min-width: 800px;
}

.mat-column-title,
.mat-column-destination {
  min-width: 20%;
}

.mat-column-rating,
.mat-column-ratesNr {
  display: flex;
  justify-content: center;
}

