<div class="header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.title }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="destination">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Destination</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.destination }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Creation Date</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.createdDate }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Rating</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.rating }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ratesNr">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Rates</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.ratesNr }} </mat-cell>
    </ng-container>

    <!--THE VIEW COLUMN-->
    <ng-container matColumnDef="view">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-eye-open"></span></button>
      </mat-cell>
    </ng-container>

    <!--THE EDIT COLUMN-->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
      </mat-cell>
    </ng-container>

    <!--THE DELETE COLUMN-->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
